

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">

    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
<div>
  <label>New Password</label>

</div>

<div>
  <input type="password" text="password" [(ngModel)]="password">
</div>
<div>
  <label>Confirm Password</label>
</div>
<div>
  <input type="password" text="confirmpassword" [(ngModel)]="confirm_passwprd">
</div>

<button (click)="resetpasword()">Reset</button>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">

        </div>

  </div>

</div>