<!-- <div class="container">

 <div class="row">
<div class="col-lg-4 col-sm-12 col-md-6">

</div>
<div class="col-lg-4 col-sm-12 col-md-6">
    <div>
        <div>
            <label>Email:</label>
        </div>
        <div>
          <input type="text" name="email" [(ngModel)]="email">
        </div>
        <div>
          <label>Password:</label>
        </div>
        <div>
          <input type="text" name="password" [(ngModel)]="password">
        </div>
        <br>
        <div class="col-2">
          <button class="btn btn-primary">Login</button>
        </div>
        
    
      </div>
</div>
<div class="col-lg-4 col-sm-12 col-md-6">

</div>
 </div>
 

</div> -->


<div class="body">

<div class="container ">
    <div class="row ">
      <div class="col-sm-12 col-md-4 col-lg-4">
    
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
           <div>
             <h3 style="color:blue"> Todo Application</h3>
           </div>
           <br>
          <div class="loginform">
    
              <div>
                <label>Email</label>
                <div>
                    <input type="text" name="email" [(ngModel)]="email">
          
                </div>
              </div>
              <div>
                <label>Password</label>
                <div>
                    <input type="password" name="password" [(ngModel)]="password">
          
                </div>
              </div>
              <br>
              <div>
                  <button type="button" class="btn btn-outline-primary" (click)="login()">Login</button>
                 
              </div>
               <div>
                <br>
    
                 <button type="button" class="btn btn-outline-secondary" (click)="gotosignup()" >Register</button>
               </div>

              
    
            </div>
            <div>
                <p (click)="forgetbutton()" style="color:blue">forgotten password</p>

                <div class="forget1" style="visibility:hidden">
                  <label style="color:black">Enter your registered email</label>
                  <div>

                  
                  <input type="text" name="email_forget" [(ngModel)]="email">
                </div>
              
                <div>
                  <button (click)="resetpassword()" >Submit</button>
                </div>
                </div>
              </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
    
        </div>
    
    </div>
    
    
    
      
    </div>
</div>


<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p> 



</ngx-spinner>







    